@mixin positionAndRadius() {
  position: relative;
  border-radius: 100%;
}

.container {
  width: 16px;
  padding: 2px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l3 1s infinite linear;

  &.light {
    background: var(--violet-100);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
  }

  &.dark {
    background: var(--violet-900);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
  }
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.xl {
  width: 80px;
  height: 80px;
  @include positionAndRadius();
}

.md {
  width: 60px;
  height: 60px;
  @include positionAndRadius();
}

.sm {
  width: 20px;
  height: 20px;
  @include positionAndRadius();
}

.xs {
  width: 16px;
  height: 16px;
  @include positionAndRadius();
}
