@use "@/styles/index.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  background: var(--gray-500);
  border: 1px solid var(--gray-0);
  border-radius: var(--size-2);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.image-container {
  height: 152px;
  width: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-200);

  @include breakpoint(md) {
    height: 226px;
    width: 170px;
  }
}

.image-cover {
  border-radius: var(--size-2);
}

.image-not-found {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-1000);
  text-align: center;
}

.action-button {
  position: absolute;
  height: var(--size-10);
  width: var(--size-10);
  bottom: var(--size-2);
  right: var(--size-2);
  border-radius: 100px;
  padding: var(--size-3);
  border: none;
  padding: 0;
  background: var(--gray-0);
  backdrop-filter: blur(10px);
  cursor: pointer;

  &:hover {
    background: var(--gray-200);
  }
}

.trash-icon {
  height: var(--size-4);
  width: var(--size-4);
  color: var(--gray-100);
}
