@use "@/styles/index.scss" as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include breakpoint(md) {
    width: 728px;
  }
}

.first-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search-container {
  padding: var(--size-5) var(--size-4) 54px var(--size-4);
  width: 100%;

  @include breakpoint(md) {
    padding: var(--size-4) 0 100px 0;
    max-width: 358px;
  }
}
